@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@1,300&display=swap');

*{
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family:  'Montserrat', sans-serif;
    color: #e7717d;
    font-size: 0.8em;
    background-color: aliceblue;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* landing page text */

.home-text {
    padding: 3%;
}

#home-text-container-1, #home-text-container-2, #vid-container {
    height: 535px;
    text-align: center;
}

#home-text-container-1 .home-text {
    width: 50%;
    float: left;
}

#home-text-container-2 .home-text {
    width: 50%;
    float: right;
}

#vid-container .home-text {
    float: left;
    width: 50%;
}

#vid-container {
    padding: 3%;
    box-sizing: initial;
}

/* contact link */

#contact-link {
    cursor: pointer;
    background-color: #e7717d;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    float: right;
}

#contact-link:hover {
    background-color: #afd275;
    color: aliceblue;
  }

/* header logo */

#logo {
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 12px;
    color: #e7717d;
    float: left;
    margin: 2vh 2vw;
    padding: 6px;
}

/* navbar */

nav {
    background-color: antiquewhite;
}

#menu {
    font-size: 2em;
    letter-spacing: 6px;
    float: right;
    margin: 0;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    text-align: right;
    float: left;
}

#menu a, #contact-link {
    text-decoration: none;
    color: #c2cad0;
}

#menu a:hover {
    border-bottom: 1px solid #c2b9b0;
    background-color:aliceblue;
    border-radius: 10%;
    color: #e7717d;
}

.active {
    border-bottom: 1px solid #e7717d;
}

#menu, #logo {
    line-height: 60px;
}

/* hero image */

#hero-image {
    height: 80vh;
    width: 100%;
    background-size: cover;
    overflow-y: hidden;
}

#hero-image img {
    width: 100%;
    max-height: 100%;
}

/* landing page 2nd images */

#image-2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    float: right;
    padding: 3%;
}

#image-3 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    float: left;
    padding: 3%;
}

/* video */ 

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
    float: right;
}

/* footer social media links */

footer {
    height: 100px;
    max-width: 100%;
    background-color: antiquewhite;
    overflow: hidden;
}

.social-networks {
    text-align: center;
    height: 50px;
    overflow: hidden;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 0 2%;
    color:#e7717d;
}

.social-networks i:hover {
    color: #afd275;
}

#foot .home-text {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    border: #e7717d;
    padding-bottom: 15vh;
    text-align: center;
}

#photos > img {
    width: 500px;
    height: auto;
    padding: 5px;
}

/* contact and gallery text text */

#text-content {
    padding: 5%;
    margin-bottom: 15vh;
    font-size: 1em;
    text-align: center;
}

/* contact Form */

div.form {
    padding-bottom: 5%;
}

.form {
    padding: 0 20%;
    font-size: 2em;
  }

input[type=text], select, textarea, input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  #thank-you-link {
    font-size: .3em;
    background-color: #e7717d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* media queries */

@media screen and (max-width: 1300px) {
    #logo {
        font-size: 3em;
    }
    #menu {
        font-size: 1.75em;
        padding-top: 0;
    }
    #text-content {
        font-size: 1vh;
    }
}

@media screen and (max-width: 1000px) {
    #photos {
        column-count: 2;
    }
}

@media screen and (max-width: 922px) {
    #logo {
        font-size: 2em;
        width: 100%;
    }
    #menu {
        font-size: 1.5em;
        padding: 0;
    }
    #hero-image {
        height: 40vh;
    }
    #text-content {
        padding: 75px;
        margin: 150px 0;
    }
    .home-text button {
        font-size: 0.9em;
    }
    #contact-link {
        padding: 15px 30px;
    }
}

@media screen and (max-width: 700px) {
    .form {
        padding: 0 10%;
      }
    #hero-image {
        height: 30vh;
    }
    body {
        font-size: .8em;
    }
    #menu {
        float: none;
    }
    #menu li {
        width: 25%;
    }
    #photos {
        column-count: 1;
}

@media screen and (max-width: 500px) {
    #logo {
        font-size: 1.5em;
        width: 100%;
    }
    #menu {
        font-size: 1em;
    }
    video {
        max-width: 100%;
    }
    #image-2 {
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #menu {
        float: none;
        padding-bottom: 5%;
    }
    #menu li {
        float: none;
        width: 100%;
        text-align: center;
    }
    #hero-image {
        height: 20vh;
    }
    #logo {
        padding-bottom: 20px;
    }
    .home-text {
        font-size: .9em;
    }
    #text-content {
        font-size: .6em;
    }
}

@media screen and (min-width: 1440px) {
    .home-text {
        font-size: 2em;
    }
    .form {
        font-size: 3em;
    }
    input[type=text], select, textarea, input[type=tel] {
        font-size: 0.5em;
    }
    #contact-link {
        font-size: 1em;
    }
    #foot .home-text {
        font-size: 1em;
    }
}