@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@1,300&display=swap');

*{
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family:  'Montserrat', sans-serif;
    color: #000000;
    background-color: #eaebfa;
    margin: 0;
}

/* logo */

#logo {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 12px;
    color: #0F1041;
    float: left;
    margin: 2vh 0;
    padding: 6px 0;
}

#logo:hover {
    font-size: 3.1em;
}

/* navbar */

nav {
    background-color: #0F1041;
}

#menu {
    font-size: 2em;
    letter-spacing: 6px;
    float: right;
    margin: 0;
    size: 33.33%;
}

#menu li {
    list-style-type: none;
    margin: 0 30px;
    text-align: right;
    float: left;
    height: 100%;
}

#menu li:hover {
    background-color: #eaebfa;
}

#menu a, #contact-link {
    text-decoration: none;
    color: #f8e5e5;
}

#menu a:hover {
    border-bottom: 1px solid #050515;
    background-color:#eaebfa;
    border-radius: 2px;
    color: #050515;
}

.active {
    border-bottom: 1px solid #fff2f5;
}

#menu, #logo {
    line-height: 60px;
}

#menu i {
    scale: .75;
    vertical-align: middle;
    position: relative;
    bottom: 5px;
}

/* footer*/

footer {
    height: 120px;
    max-width: 100%;
    overflow: hidden;
    background-color: #0a0a29;
}

.social-networks {
    text-align: center;
    height: 50px;
    overflow: hidden;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 0 2%;
    color:#9899e7;
}

.social-networks i:hover {
    color: #d6d6f5;
}

#foot .home-text {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
}

#credit {
    color: #d6d6f5;
    position: relative;
    right: 16px;
}

/* hero image */

#hero-image {
    height: 80vh;
    width: 100%;
    background-size: cover;
    overflow-y: hidden;
}

#hero-image img {
    width: 100%;
    max-height: 100%;
    animation-name: hero-ani;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes  hero-ani {
    from {
        transform: scale(1.1)
    }
    to {
        transform: scale(1)
    }
}

/* home page content containers */

#content-container {
    height: 100%;
}

#content-container #home-text-container-2 {
    background-color: #d6d6f5;
}

#home-text-container-1, #home-text-container-2, #vid-container {
    height: 33.33%;
    text-align: center;
    overflow: hidden;
}

#home-text-container-1 .home-text {
    width: 50%;
    float: left;
    position: relative;
    top: 160px;
}

#home-text-container-2 .home-text {
    width: 50%;
    float: right;
    position: relative;
    top: 160px;
}

#vid-container .home-text {
    float: left;
    width: 50%;
    position: relative;
    top: 160px;
}

#vid-container {
    box-sizing: initial;
    max-height: 600px;
    margin: 12px;
}

/* landing page text */

.home-text {
    padding: 3%;
    font-size: 1vw;
}

.text-color {
    color: #8c0327;
    font-size: 36px;
    animation: text-move 5s infinite;
    animation-name: text-ani;
    animation-duration: 8s;
}

@keyframes text-ani {
  0%   {color: #8c0327; font-size: 27px;}
  25%  {color: #afd275; font-size: 18px;}
  50%  {color: #e0053f; font-size: 18px;}
  100% {color: #fa255e; font-size: 27px;}
}

/* contact link */

#contact-link {
    cursor: pointer;
    background-color: #181a67;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}

#contact-link:hover {
    background-color: #9899e7;
    color: #fff2f5;
}

/* landing page content images */

#image-2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    float: right;
    padding: 6%;
    border-radius: 50%;
}

#image-3 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    float: left;
    padding: 6%;
    border-radius: 50%;
}

/* video */ 

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
    float: right;
}

/* contact and gallery text text */

#text-content {
    padding: 5%;
    text-align: center;
    font-size: 10px;
}

/* gallery photos */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    border: #fa255e;
    text-align: center;
}

#photos > img {
    width: 100%;
    height: auto;
    padding: 12px;
}

/* contact Form */

form{
    margin: 18px;
    height: auto;
}

.form {
    padding-bottom: 5px;
    font-size: 2em;
    box-sizing: initial;
    font-family: 'Montserrat', sans-serif;
    background-color:  #c1c2f0;
    border-radius: 2%;
    width: 50%;
    margin: auto;
}

input[type=text], select, textarea, input[type=tel], input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Montserrat', sans-serif;
}

#thank-you-link {
    background-color: #5a5cd8;
    color: white;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
}

#thank-you-link:hover {
    font-size: 26px;
}

/* media queries */

@media screen and (max-width: 1600px) {
    #home-text-container-1 .home-text, #home-text-container-2 .home-text, #vid-container .home-text {
        top: 120px;
    }
}

@media screen and (max-width: 1300px) {
    #logo {
        font-size: 3em;
    }
    #logo:hover {
        font-size: 3.1em;
    }
    #menu {
        font-size: 1.75em;
        padding-top: 0;
    }
    .home-text {
        font-size: 1.25vw;
    }
    #hero-image {
        height: 500px;
    }
    #home-text-container-1 .home-text, #home-text-container-2 .home-text, #vid-container .home-text {
        top: 90px;
    }
}

@media screen and (max-width: 1000px) {
    #menu {
        float: none;
        padding: 0;
    }
    #menu li {
        width: 33.33%;
        margin: 0;
        text-align: center;
    }
    #photos {
        column-count: 2;
    }
    footer {
        height: 60px;
    }
    .social-networks i {
        font-size: 150%;
        float: left;
        width: 50px;
    }
    #credit {
        float: right;
        width: 50%;
        position: relative;
        bottom: 65px;
        text-align: center;
        font-size: 12px;
    }
    #logo {
        font-size: 2em;
        width: 100%;
    }
    #logo:hover {
        font-size: 2.1em;
    }
    .form {
        width: 75%;
    }
    #home-text-container-1 .home-text, #home-text-container-2 .home-text, #vid-container .home-text {
            top: 60px;
        }
    }

@media screen and (max-width: 922px) {
    #logo {
        font-size: 1.8em;
    }
    #logo:hover {
        font-size: 1.9em;
    }
    #menu {
        font-size: 1.5em;
        padding: 0;
    }
    #home-text-container-1 .home-text, #home-text-container-2 .home-text, #vid-container .home-text {
        top: 60px;
    }
    #contact-link {
        font-size: 6px;
        float: right;
    }
}

@media screen and (max-width: 800px) {
    #home-text-container-1 .home-text, #home-text-container-2 .home-text, #vid-container .home-text {
        top: 50px;
    }
    #contact-link {
        font-size: 4px;
    }
    #hero-image {
        height: 40vh;
    }
}

@media screen and (max-width: 700px) {
    #hero-image {
        height: 30vh;
    }
    #photos {
        column-count: 1;
    }
    #home-text-container-1 .home-text, #home-text-container-2 .home-text, #vid-container .home-text {
        top: 40px;
    }
    .social-networks i {
        font-size: 100%;
        width: 20px;
    }
    #credit {
        font-size: 8px;
        bottom: 62px;
    }
}

@media screen and (max-width: 500px) {
    #logo {
        font-size: 1.5em;
        text-align: center;
    }
    #logo:hover {
        font-size: 1.6em;
    }
    #menu {
        font-size: 1em;
    }
    .home-text {
        font-size: 2vw;
        top: 0;
    }
    #vid-container {
        height: 300px;
    }
    .text-color {
        font-size: 27px;
    }
    @keyframes text-ani {
      0%   {color: #8c0327; font-size: 18px;}
      25%  {color: #afd275; font-size: 9px;}
      50%  {color: #e0053f; font-size: 9px;}
      100% {color: #fa255e; font-size: 18px;}
    }
    #home-text-container-1, #home-text-container-2, #vid-container {
        max-height: 500px;
        text-align: left;
        overflow: hidden;
    }
    #home-text-container-1 .home-text, #home-text-container-2 .home-text, #vid-container .home-text {
        width: 100%;
        height: 50%;
        float: none;
    }
    #image-2, #image-3 {
        width: 100%;
        height: auto;
        float: none;
        scale: 0.75;
        position: relative;
        top: 25px;
    }
    video {
        float: none;
        position: relative;
    }
    #vid-container {
        margin: 0;
    }
    .text-color {
        font-size: 12px;
    }
    #credit {
        font-size: 1vw;
        bottom: 100px;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #logo {
        font-size: 1.3em;
    }
    #menu {
        float: none;
        padding-bottom: 5%;
        height: 90px;
        overflow-y: hidden;
    }
    #menu li {
        float: none;
        width: 100%;
        text-align: center;
        height: 30px;
        line-height: normal;
    }
    #hero-image {
        height: 20vh;
    }
    #logo {
        padding-bottom: 20px;
    }
    #text-content {
        font-size: .4em;
    }
    #credit {
        font-size: 6px;
        bottom: 60px;
    }
}

@media screen and (min-width: 1440px) {
    input[type=text], select, textarea, input[type=tel], input[type=email] {
        font-size: 0.5em;
    }
    #contact-link {
        font-size: 1em;
    }
}

@media screen and (min-width: 1650px) {
    #image-2, #image-3 {
        width: 50%;
        height: 600px;
    }
}