@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family:  'Montserrat', sans-serif;
    color: #e7717d;
    font-size: 1em;
    margin-bottom: 10%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* landing page text */

.home-text {
    padding: 20%;
}

#contact-link {
    font-size: 2vh;
    background-color: #e7717d;
    border-style: double;
    border-radius: 25%;
}

/* header logo */

#logo {
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 12px;
    color: #afd275;
    float: left;
    margin: 2vh 2vw;
    padding: 6px;
}

/* navbar */

#menu {
    font-size: 2em;
    letter-spacing: 6px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a, #contact-link {
    text-decoration: none;
    color: #c2cad0;
}

#menu a:hover {
    border-bottom: 1px solid #c2b9b0;
    color: #e7717d;
}

.active {
    border-bottom: 1px solid #c2b9b0;
}

#menu, #logo {
    line-height: 60px;
}

/* hero image */

#hero-image {
    height: 60vh;
    width: 100%;
    background-size: cover;
    overflow-y: hidden;
}

#hero-image img {
    width: 100%;
    max-height: 100%;
}

/* landing page 2nd image */

#image-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

/* video */ 

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    height: auto;
    max-width: 60%;
}

/* footer social media links */

footer {
    height: 15vh;
    overflow: hidden;
    max-width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 2%;
    padding: 5%;
    color:#e7717d;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
    border: #e7717d;
}

#photos > img {
    width: 100%;
}

/* contact and gallery text text */

#text-content {
    padding: 30vh;
    font-size: 1em;
    text-align: center;
}

/* contact Form */

.form {
    padding: 0 25%;
    font-size: 1em;
  }

input[type=text], select, textarea, input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* media queries */

@media screen and (max-width: 1300px) {
    #photos {
        column-count: 1;
    }
    #logo {
        padding-left: 10%;
        padding-right: 100%;
        font-size: 3em;
    }
    #menu {
        font-size: 2vh;
        padding-top: 10%;
    }
    #text-content {
        font-size: 1vh;
    }
}

@media screen and (max-width: 922px) {
    #photos {
        column-count: 1;
    }
    #logo {
        font-size: 2em;
        width: 100%;
    }
    #menu {
        font-size: 1.5em;
    }
    #hero-image {
        height: 40vh;
        margin-bottom: 20%;
    }
    #text-content {
        padding: 75px;
        margin-top: 150px;
    }
    footer {
        padding-top: 50px;
    }
}

@media screen and (max-width: 500px) {
    #logo {
        font-size: 1em;
        width: 100%;
    }
    #menu {
        font-size: 1em;
    }
    video {
        max-width: 100%;
    }
    #image-2 {
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #menu {
        font-size: 0.5em;
    }
    #menu li {
        float: none;
        width: 100%;
        text-align: center;
    }

@media screen and (min-width: 1440px) {
    .home-text {
        font-size: 2em;
    }
}