@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@1,300&display=swap');

*{
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family:  'Montserrat', sans-serif;
    color: #000000;
    background-color: #fff2f5;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* landing page text */

.home-text {
    padding: 3%;
    font-size: 18px;
}

#home-text-container-1, #home-text-container-2, #vid-container {
    max-height: 535px;
    text-align: center;
    overflow: hidden;
}

#home-text-container-1 .home-text {
    width: 50%;
    float: left;
    position: relative;
    top: 100px;
}

#home-text-container-2 .home-text {
    width: 50%;
    float: right;
    position: relative;
    top: 100px;
}

#vid-container .home-text {
    float: left;
    width: 50%;
    position: relative;
    top: 100px;
}

#vid-container {
    box-sizing: initial;
    max-height: 600px;
    margin-bottom: 12px;
}

.text-color {
    color: #8c0327;
    font-size: 36px;
    animation: text-move 5s infinite;
    animation-name: text-ani;
    animation-duration: 8s;
}

@keyframes text-ani {
  0%   {color: #8c0327; font-size: 27px;}
  25%  {color: #afd275; font-size: 18px;}
  50%  {color: #e0053f; font-size: 18px;}
  100% {color: #fa255e; font-size: 27px;}
}

/* contact link */

#contact-link {
    cursor: pointer;
    background-color: #fa255e;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}

#contact-link:hover {
    background-color: #8c0327;
    color: #fff2f5;
  }

/* header logo */

#logo {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 12px;
    color: #000000;
    float: left;
    margin: 2vh 0;
    padding: 6px 0;
    
}

#logo:hover {
    font-size: 3.1em;
}

/* navbar */

nav {
    background-color: #000000;
}

#menu {
    font-size: 2em;
    letter-spacing: 6px;
    float: right;
    margin: 0;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    text-align: right;
    float: left;
}

#menu a, #contact-link {
    text-decoration: none;
    color: #f8e5e5;
}

#menu a:hover {
    border-bottom: 1px solid #c2b9b0;
    background-color:#fff2f5;
    border-radius: 5%;
    color: #000000;
}

.active {
    border-bottom: 1px solid #fff2f5;
}

#menu, #logo {
    line-height: 60px;
}

/* hero image */

#hero-image {
    height: 80vh;
    width: 100%;
    background-size: cover;
    overflow-y: hidden;
}

#hero-image img {
    width: 100%;
    max-height: 100%;
    animation-name: hero-ani;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes  hero-ani {
    from {
        transform: scale(1.5)
    }
    to {
        transform: scale(1)
    }
}

/* landing page 2nd images */

#image-2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    float: right;
    padding: 6%;
    border-radius: 50%;
}

#image-3 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    float: left;
    padding: 6%;
    border-radius: 50%;
}

/* video */ 

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
    float: right;
}

/* footer social media links */

footer {
    height: 120px;
    max-width: 100%;
    overflow: hidden;
    background-color: #8c0327;
}

.social-networks {
    text-align: center;
    height: 50px;
    overflow: hidden;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 0 2%;
    color:#fa255e;
}

.social-networks i:hover {
    color: #fff2f5;
}

#foot .home-text {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    border: #fa255e;
    padding-bottom: 12px;
    text-align: center;
}

#photos > img {
    width: 500px;
    height: auto;
    padding: 5px;
}

/* contact and gallery text text */

#text-content {
    padding: 5%;
    margin-bottom: 15vh;
    text-align: center;
    font-size: 16px;
}

/* contact Form */

.form {
    padding: 0 20%;
    padding-bottom: 5%;
    font-size: 2em;
    box-sizing: initial;
    font-family: 'Montserrat', sans-serif;
}

input[type=text], select, textarea, input[type=tel], input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Montserrat', sans-serif;
}

#thank-you-link {
    background-color: #a8032f;
    color: white;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}

#thank-you-link:hover {
    font-size: 32px;
}


/* media queries */

@media screen and (max-width: 1300px) {
    #logo {
        font-size: 3em;
    }
    #logo:hover {
        font-size: 3.1em;
    }
    #menu {
        font-size: 1.75em;
        padding-top: 0;
    }
    .home-text {
        font-size: 1em;
    }
    #hero-image {
        height: 500px;
    }
    #home-text-container-1 .home-text, #home-text-container-2 .home-text, #vid-container .home-text {
        top: 33px;
    }
}

@media screen and (max-width: 1000px) {
    #photos {
        column-count: 2;
    }
    footer {
        height: 60px;
    }
    .social-networks i {
        font-size: 150%;
        float: left;
        width: 50px;
    }
    #credit {
        float: right;
        width: 50%;
        position: relative;
        bottom: 65px;
        text-align: center;
        font-size: 12px;
    }
    #logo {
        font-size: 2em;
        width: 100%;
    }
    #logo:hover {
        font-size: 2.1em;
    }
}

@media screen and (max-width: 922px) {
    #logo {
        font-size: 1.8em;
    }
    #logo:hover {
        font-size: 1.9em;
    }
    #menu {
        font-size: 1.5em;
        padding: 0;
    }
    #hero-image {
        height: 40vh;
    }
    #text-content {
        padding: 75px;
        margin: 150px 0;
    }
    .home-text {
        font-size: .75em;
    }
    #home-text-container-1 .home-text, #home-text-container-2 .home-text, #vid-container .home-text {
        top: 33px;
    }
    #contact-link {
        font-size: 6px;
        float: right;
    }
}

@media screen and (max-width: 800px) {
    #home-text-container-1 .home-text, #home-text-container-2 .home-text, #vid-container .home-text {
        top: 25px;
    }
    #contact-link {
        font-size: 4px;
    }
}

@media screen and (max-width: 700px) {
    .form {
        padding: 0 10%;
      }
    #hero-image {
        height: 30vh;
    }
    #menu {
        float: none;
    }
    #menu li {
        width: 25%;
    }
    #photos {
        column-count: 1;
    }
    .home-text {
        font-size: .6em;
    }
    #home-text-container-1 .home-text, #home-text-container-2 .home-text, #vid-container .home-text {
        top: 0;
    }
    .social-networks i {
        font-size: 100%;
        width: 20px;
    }
    #credit {
        font-size: 8px;
        bottom: 62px;
    }
}

@media screen and (max-width: 500px) {
    #logo {
        font-size: 1.5em;
        text-align: center;
    }
    #logo:hover {
        font-size: 1.6em;
    }
    #menu {
        font-size: 1em;
    }
    .home-text {
        font-size: .6em;
    }
    .text-color {
        font-size: 27px;
    }
    
    @keyframes text-ani {
      0%   {color: #8c0327; font-size: 18px;}
      25%  {color: #afd275; font-size: 9px;}
      50%  {color: #e0053f; font-size: 9px;}
      100% {color: #fa255e; font-size: 18px;}
    }
}

@media screen and (max-width: 400px) {
    #logo {
        font-size: 1.3em;
    }
    #menu {
        float: none;
        padding-bottom: 5%;
        height: 90px;
        overflow-y: hidden;
    }
    #menu li {
        float: none;
        width: 100%;
        text-align: center;
        height: 30px;
        line-height: normal;
    }
    nav {
        padding-top: 6px;
    }
    #hero-image {
        height: 20vh;
    }
    #logo {
        padding-bottom: 20px;
    }
    .home-text, #text-content {
        font-size: .4em;
    }
    #credit {
        font-size: 6px;
        bottom: 60px;
    }
}

@media screen and (min-width: 1440px) {
    .form {
        font-size: 3em;
    }
    input[type=text], select, textarea, input[type=tel], input[type=email] {
        font-size: 0.5em;
    }
    #contact-link {
        font-size: 1em;
    }
    #foot .home-text {
        font-size: 1em;
    }
}

@media screen and (min-width: 1650px) {
    #image-2, #image-3 {
        width: 50%;
        height: 600px;
    }
}