@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:  'Montserrat', sans-serif;
    color: #e7717d;
    font-size: 2vh;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* landing page text */

.about {
    padding: 150px;
}

#contact-link {
    font-size: 2vh;
    background-color: #e7717d;
    border-style: double;
    border-radius: 20%;
}

/* header logo */

#logo {
    font-family: 'Lato', sans-serif;
    font-size: 400%;
    max-width: 100%;
    text-transform: uppercase;
    letter-spacing: 12px;
    color: #afd275;
    float: left;
    margin: 2vh 0vh;
}

/* navbar */

#menu {
    font-size: 130%;
    letter-spacing: 6px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a, #contact-link {
    text-decoration: none;
    color: #c2cad0;
}

#menu a:hover {
    border-bottom: 1px solid #c2b9b0;
}

.active {
    border-bottom: 1px solid #c2b9b0;
}

#menu, #logo {
    line-height: 60px;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero.webp') no-repeat center center;
    background-position: 30% 10%;
    position: relative;
    overflow: hidden;
    display: flex;
    background-size: cover;
}

/* landing page 2nd image */

#image-2 {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    clear: both;
    display: flex;
}

/* hero image quote*/

#quote {
    font-size: 125%;
    width: 400px;
    height: 150px;
    background-color: black;
    padding-top: 40px;
    padding-left: 20px;
    bottom: 300px;
    right: 10px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
}

/* video */ 

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
}

/* footer social media links */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 2%;
    padding: 5%;
    color:#e7717d;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* contact enquiries */

#text-content {
    padding: 300px;
    font-size: 1.5vh;
    text-align: center;
}

/* contact Form */

.form {
    padding: 0 25%;
    font-size: 3vh;
  }

input[type=text], select, textarea, input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* media queries */

@media screen and (max-width: 1300px) {
    #photos {
        column-count: 1;
    }
    #quote {
        display: none;
    }
    #image-2 {
        height: auto;
    }
    #logo {
        padding-left: 10%;
        padding-right: 100%;
    }
    #menu {
        font-size: 2vh;
        padding-top: 10%;
    }
    #text-content {
        font-size: 1vh;
    }
}

@media screen and (max-width: 900px) {
    #photos {
        column-count: 1;
    }
    #image-2 {
        height: auto;
    }
    #quote {
        display: none;
    }
    #logo {
        font-size: 4vh;
        width: 100%;
    }
    #menu {
        font-size: 2vh;
    }
    .about {
        padding: 75px;
    }
    #text-content {
        padding: 75px;
        margin-top: 150px;
    }
    footer {
        padding-top: 50px;
    }
}
@media screen and (max-width: 500px) {
    #logo {
        font-size: 2vh;
        width: 100%;
    }
}