@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:  'Montserrat', sans-serif;
    color: #e7717d;
}

#about {
    padding: 10% 20%;
}

/* Header Logo */

#logo {
    font-family: 'Lato', sans-serif;
    font-size: 400%;
    text-transform: uppercase;
    letter-spacing: 12px;
    color: #afd275;
    float: left;
}

/* navbar */

#menu {
    font-size: 130%;
    letter-spacing: 6px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #c2cad0;
}

#menu a:hover {
    border-bottom: 1px solid #c2b9b0;
}

.active {
    border-bottom: 1px solid #c2b9b0;
}

#menu, #logo {
    line-height: 60px;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero.jpg') no-repeat center center;
    background-position: 30% 10%;
    position: relative;
    overflow: hidden;
}
/* 2nd image */

#image-2 {
    height: 1200px;
    width: 100%;
    background: url('../images/image-2.jpg') no-repeat center center;
    position: relative;
    overflow: hidden;
}

/* Hero image quote*/

#quote {
    font-size: 200%;
    width: 300px;
    height: 200px;
    background-color: black;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 300px;
    right: 150px;
    position: absolute;
}